body {
    min-width: 800px;
}

.main {
    width: 19.1%;
    height: 11.5%;
    margin-left: 40.5%;
    margin-top: 13%;
}
.buttondiv{
    margin-top: 3.1%;
}
.button {
    width: 27.9%;
    height: 4.6%;
    margin-left: 36%;
}