body {
    background-color: #ffce00;
    min-width: 800px;
    margin: 0px 0px;
    padding: 0px 0px;
    top: 0px;
    position: fixed;
}
@font-face {
    font-family: 'HGSoftGGothicssi';
    src: url("/fonts/HGSoftGGothicssi 99g.ttf")  format('truetype'); /* Safari, Android, iOS */
}