body{
    min-width: 800;
}
.all {
    margin: auto;
    align: center;
}
#boy{
    margin-top: 200px;
    margin-left: 15%;
    width: 60%;
}

#arrow{
    margin-bottom: 17%;
    margin-left: 10%;
    width: 2%;
    float: top;
}