@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.css');

body{
    margin: 0;
    min-width: 1200px;
}



.unstyled::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}