#white{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

#done{
    position: absolute;
    margin-left: 38%;
    margin-top: 14%;
    width: 26.04%;
    height: auto;
}

#printDone{
    position: absolute;
    margin-left: 33.59%;
    margin-top: 34.21%;
    width: 32.86%;
    height: auto;
}
#toIndex{
    position: absolute;
    margin-left: 41.3%;
    margin-top: 43.13%;
    width: 17.4%;
    height: auto;
}